/target/
**/bin/
.DS_Store

# Eclipse Core      
# .project

# JDT-specific (Eclipse Java Development Tools)     
# .classpath

*.class

.metadata/
/snyk_binaries/

io.snyk.bin.linux/snyk-linux
io.snyk.bin.macos/snyk-macos
io.snyk.bin.win/snyk-win.exe
