<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
		name="%extension.name"
		point="org.eclipse.ui.views">
		<category
			name="%category.name"
			id="io.snyk.eclipse.plugin"> </category>
		<view
			id="io.snyk.eclipse.plugin.views.SnykView"
			name="%view.name"
			icon="icons/patch.png"
			class="io.snyk.eclipse.plugin.views.SnykView"
			category="io.snyk.eclipse.plugin"
			inject="true"> </view>
		<view
			id="io.snyk.eclipse.plugin.views.snyktoolview"
			name="%toolView.name"
			icon="icons/patch.png"
			class="io.snyk.eclipse.plugin.views.snyktoolview.SnykToolView"
			category="io.snyk.eclipse.plugin"
			inject="true"> </view>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view
				id="io.snyk.eclipse.plugin.views.SnykView"
				relative="org.eclipse.ui.views.ProblemView"
				relationship="right"
				ratio="0.5"> </view>
			<view
				id="io.snyk.eclipse.plugin.views.snyktoolview"
				relative="org.eclipse.ui.views.ProblemView"
				relationship="right"
				ratio="0.5"> </view>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.help.contexts">
		<contexts
			file="contexts.xml"> </contexts>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			class="io.snyk.eclipse.plugin.properties.PreferencesPage"
			id="io.snyk.eclipse.plugin.properties.preferencespage"
			name="%page.name"> </page>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			defaultHandler="io.snyk.eclipse.plugin.views.MenuHandler"
			id="io.snyk.eclipse.plugin.commands.execute"
			name="%command.name"> </command>
		<command
			defaultHandler="io.snyk.eclipse.plugin.views.ScanWorkspaceMenuHandler"
			id="io.snyk.eclipse.plugin.commands.snykWorkspaceScan"
			name="%scanWorkspace.name"> </command>
		<command
			id="io.snyk.eclipse.plugin.properties.preferencespage"
			name="Open Snyk Preferences"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.OpenSnykPreferencesHandler">
		</command>
		<command
			id="io.snyk.eclipse.plugin.commands.filter"
			name="Filter"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.FilterHandler">
		</command>
		<command
			id="io.snyk.eclipse.plugin.commands.snykFilterCritical"
			name="Filter"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.FilterHandler">
		</command>
		<command
			id="io.snyk.eclipse.plugin.commands.snykFilterHigh"
			name="Filter"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.FilterHandler">
		</command>
		<command
			id="io.snyk.eclipse.plugin.commands.snykFilterMedium"
			name="Filter"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.FilterHandler">
		</command>
		<command
			id="io.snyk.eclipse.plugin.commands.snykFilterLow"
			name="Filter"
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.FilterHandler">
		</command>
		<command
			defaultHandler="io.snyk.eclipse.plugin.views.snyktoolview.providers.ViewMenuHandler"
			id="io.snyk.eclipse.plugin.commands.viewmenu"
			name="snykViewMenuHandler"> </command>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
			<command
				commandId="io.snyk.eclipse.plugin.commands.execute"
				icon="icons/patch.png"
				label="%command.label"
				style="push">
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate
							ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject"> </adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykWorkspaceScan"
				icon="icons/patch.png"
				label="%scanWorkspace.label"
				style="push"> </command>
		</menuContribution>
		<menuContribution
			locationURI="toolbar:io.snyk.eclipse.plugin.views.snyktoolview">
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykWorkspaceScan"
				icon="platform:/plugin/org.eclipse.ui.browser/icons/clcl16/nav_go.png"
				style="push"
				tooltip="Scan"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykStopScan"
				icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/progress_stop.png"
				style="push"
				tooltip="Stop Scan"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykEmptyScanResults"
				icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/trash.png"
				style="push"
				tooltip="Empty Scan Results Cache"> </command>
			<!-- Add a separator -->
			<separator
				name="RunScanSeparator"
				visible="true"> </separator>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykFilterCritical"
				icon="platform:/plugin/io.snyk.eclipse.plugin/icons/severity-critical.png"
				style="push"
				tooltip="Critical Severity"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykFilterHigh"
				icon="platform:/plugin/io.snyk.eclipse.plugin/icons/severity-high.png"
				style="push"
				tooltip="High Severity"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykFilterMedium"
				icon="platform:/plugin/io.snyk.eclipse.plugin/icons/severity-medium.png"
				style="push"
				tooltip="Medium Severity"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykFilterLow"
				icon="platform:/plugin/io.snyk.eclipse.plugin/icons/severity-low.png"
				style="push"
				tooltip="Low Severity"> </command>
			<!-- Add a separator -->
			<separator
				name="FilterSeparator"
				visible="true"> </separator>
			<command
				commandId="io.snyk.eclipse.plugin.commands.filter"
				icon="platform:/plugin/org.eclipse.ui.views/icons/full/elcl16/filter_ps.png"
				style="push"
				tooltip="Set Snyk Filters"> </command>				
			<command
				commandId="io.snyk.eclipse.plugin.properties.preferencespage"
				icon="platform:/plugin/org.eclipse.jdt.debug.ui/icons/full/elcl16/thread_view.gif"
				style="push"
				tooltip="Open Snyk Preferences"> </command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.viewmenu"
				icon="platform:/plugin/org.eclipse.e4.ui.workbench.renderers.swt/icons/full/elcl16/view_menu.png"
				style="push"
				tooltip="Open View Menu"> </command>
		</menuContribution>
		<menuContribution
			locationURI="menu:io.snyk.eclipse.plugin.commands.viewmenu">

        </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
			<command
				commandId="io.snyk.eclipse.plugin.commands.execute"
				icon="icons/patch.png"
				label="%command.label.0"
				style="push">
				<visibleWhen>
					<with variable="activeMenuSelection">
						<iterate
							ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject"> </adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="io.snyk.eclipse.plugin.commands.snykWorkspaceScan"
				icon="icons/patch.png"
				label="%scanWorkspace.label"
				style="push"> </command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.startup">
		<startup class="io.snyk.eclipse.plugin.SnykStartup" />
	</extension>
	<extension
		point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="*"
			id="io.snyk.languageserver.parent"
			name="Snyk"
			priority="normal"> </content-type>
		<!-- snyk code -->
		<content-type
			base-type="io.snyk.languageserver.parent"
			file-extensions="java,aspx,cs,cls,ejs,es,es6,htm,html,js,jsx,kt,kts,ts,tsx,vue,py,erb,haml,rb,rhtml,slim,go,c,cc,cpp,cxx,h,hpp,hxx,php,phtml"
			id="io.snyk.languageserver.snykCode"
			name="Snyk Code"
			priority="normal"> </content-type>
		<!-- snyk oss -->
		<content-type
			base-type="io.snyk.languageserver.parent"
			file-names="yarn.lock,package-lock.json,package.json,Gemfile,Gemfile.lock,pom.xml,build.gradle,build.gradle.kts,build.sbt,Pipfile,requirements.txt,Gopkg.lock,go.mod,vendor/vendor.json,obj/project.assets.json,project.assets.json,packages.config,paket.dependencies,composer.lock,Podfile,Podfile.lock,poetry.lock,mix.exs,mix.lock"
			id="io.snyk.languageserver.snykOss"
			name="Snyk Open Source"
			priority="normal"> </content-type>
		<!-- snyk Iac -->
		<content-type
			base-type="io.snyk.languageserver.parent"
			file-extensions="yaml,yml,json,tf"
			id="io.snyk.languageserver.snykIac"
			name="Snyk Infrastructure-as-Code"
			priority="normal"> </content-type>
	</extension>

	<extension
		point="org.eclipse.ui.editors">
		<editorContentTypeBinding
			contentTypeId="io.snyk.languageserver.parent"
			editorId="org.eclipse.ui.genericeditor.GenericEditor"> </editorContentTypeBinding>
	</extension>

	<extension
		point="org.eclipse.lsp4e.languageServer">
		<server
			class="io.snyk.languageserver.SnykLanguageServer"
			id="io.snyk.languageserver"
			label="Snyk Language Server"
			clientImpl="io.snyk.languageserver.protocolextension.SnykExtendedLanguageClient"
			lastDocumentDisconnectedTimeout="3000000"
			singleton="true"
			markerType="io.snyk.languageserver.marker"> </server>

		<!-- snyk code -->
		<contentTypeMapping
			contentType="io.snyk.languageserver.snykCode"
			id="io.snyk.languageserver"> </contentTypeMapping>

		<!-- snyk oss  -->
		<contentTypeMapping
			contentType="io.snyk.languageserver.snykOss"
			id="io.snyk.languageserver"> </contentTypeMapping>

		<!-- iac -->
		<contentTypeMapping
			contentType="io.snyk.languageserver.snykIac"
			id="io.snyk.languageserver"> </contentTypeMapping>

		<!-- third party editors & extensions -->
		<contentTypeMapping
			contentType="org.eclipse.core.runtime.text"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.core.runtime.xml"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.jdt.core.javaSource"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.buildship.core.files.gradlebuildscript"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wildwebdeveloper.json"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wildwebdeveloper.yaml"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wildwebdeveloper.ts"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wildwebdeveloper.tsx"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wildwebdeveloper.js"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wst.dtd.core.dtdsource"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wst.xml.core.xmisource"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.eclipse.wst.xml.core.xmlsource"
			id="io.snyk.languageserver"> </contentTypeMapping>
		<contentTypeMapping
			contentType="org.python.pydev.pythonfile"
			id="io.snyk.languageserver"> </contentTypeMapping>
	</extension>
	<extension
		id="io.snyk.languageserver.marker"
		name="Snyk"
		point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.lsp4e.diagnostic"> </super>
		<persistent value="false" />
	</extension>

	<extension
		id="wizard"
		name="Snyk"
		point="org.eclipse.ui.newWizards">
		<category
			id="io.snyk.eclipse.plugin.wizards.category.snyk"
			name="Snyk"> </category>
		<wizard
			category="io.snyk.eclipse.plugin.wizards.category.snyk"
			class="io.snyk.eclipse.plugin.wizards.SnykWizard"
			icon="icons/patch.png"
			id="io.snyk.eclipse.plugin.wizards.snykwizard"
			name="SnykWizard"> </wizard>
	</extension>
</plugin>
